@import url("https://fonts.googleapis.com/css?family==Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$gridspace: 10px;
$margin_container: 40px;
$margin_component: 20px;

$color1: #000;
$color2: #fff;
$color3: #f6f6f6;
$color4: #ff6060;

// Queries

$maxsize_extrasmall: 576px;
$maxsize_small: 768px;
$maxsize_medium: 992px;
$maxsize_large: 1240px;
