@import "base";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 250px;
}

.container {
  max-width: $maxsize_large;
  width: calc(100% - calc($margin_container * 2));
  min-height: calc(100vh - 250px);
  margin: auto;

  @media screen and (max-width: ($maxsize_medium)) {
    width: calc(100% - calc($margin_container * 2));
    max-width: $maxsize_medium;
  }
}
